<app-page-container title="Create Account">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <label>Account Type: </label>
    <mat-radio-group formControlName="accountType" aria-label="Select Account Type">
      <mat-radio-button *ngFor="let type of accountTypes" [value]="type">
        {{type}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Account Name</mat-label>
      <input matInput formControlName="accountName" [maxlength]="MAX_ACCOUNT_NAME_LENGTH" />
      <mat-hint align="start">{{ accountForm.get("accountName")?.value?.length || 0 }} / {{MAX_ACCOUNT_NAME_LENGTH}}</mat-hint>
      <mat-error *ngIf="accountForm.get('accountName')?.invalid">
        {{VALIDATION_CONSTANTS.ACCOUNT.NAME.REQUIRED_ERROR}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Initial Balance</mat-label>
      <input matInput type="number" formControlName="balance" />
      <mat-error *ngIf="accountForm.get('balance')?.invalid">Balance cannot be negative.</mat-error>
    </mat-form-field>

    <shared-button
      [disabled]="accountForm.valid"
      buttonText="Create {{ accountForm.get('accountType')?.value || 'Account' }}"
      (onClick)="onSubmit()"
    ></shared-button>
  </form>
</app-page-container>
