<app-page-container title="Transfer Funds">
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>From Account</mat-label>
        <mat-select formControlName="fromAccount">
          <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">
            {{account.accountName}} ({{account.accountType}}) - Balance: ${{account.balance}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transferForm.get('fromAccount')?.hasError('required')">
          Please select an account
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>To Account</mat-label>
        <mat-select formControlName="toAccount">
          <mat-option *ngFor="let account of accounts$ | async" [value]="account.id">
            {{account.accountName}} ({{account.accountType}}) - Balance: ${{account.balance}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transferForm.get('toAccount')?.hasError('required')">
          Please select an account
        </mat-error>
        <mat-error *ngIf="transferForm.get('toAccount')?.hasError('sameAccount')">
          Cannot transfer to the same account
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" />
        <mat-error *ngIf="transferForm.get('amount')?.hasError('required')">
          Amount is required
        </mat-error>
        <mat-error *ngIf="transferForm.get('amount')?.hasError('min')">
          Amount must be greater than $0
        </mat-error>
        <mat-error *ngIf="transferForm.get('amount')?.hasError('max')">
          Amount cannot exceed available balance
        </mat-error>
      </mat-form-field>

      <shared-button
        [disabled]="!transferForm.valid"
        buttonText="Transfer Funds"
        (onClick)="onSubmit()"
      ></shared-button>
    </form>

  <!-- Accounts list -->
  <app-page-container title="Your Accounts">
    <mat-list>
      <ng-container *ngIf="accounts$ | async as accounts">
        <mat-list-item *ngFor="let account of accounts">
          <div class="account-item">
            <span class="account-name">{{account.accountName}} ({{account.accountType}})</span>
            <span class="account-balance">${{account.balance}}</span>
          </div>
        </mat-list-item>
        
        <mat-list-item *ngIf="accounts.length === 0">
          <div>No accounts available for transfer</div>
        </mat-list-item>
      </ng-container>
    </mat-list>
